body{
    background-color: black;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 30vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}  

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg);
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://wallpapers.com/images/high/real-space-b35b5nupus30qcuv.webp);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://wallpapers.com/images/hd/moon-at-night-fs1eb9bn81ii8umu.webp);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://wallpapers.com/images/hd/night-winter-park-finland-5z0pomd9cnm7bu6j.webp);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://wallpapers.com/images/hd/bright-city-lights-night-88j8cg1i5cg6dk3w.webp);
    animation-delay: 40s; 
}

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}
