#login, #register {
    text-align: center;
}

#delete-form{
    display: inline;
}


.thumbnail {
    border-radius: 6px;
    padding: 0px;
    margin-top : 10px;
}

.thumbnail a img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 6px;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnail .caption-full {
    padding: 9px;
}

.titleColor{
    color: #2a88bd;
}